@model Product
@{
    ViewData["Title"] = "Create";
    ViewBag.link = "Create";
    //SelectList listIofCategories = new SelectList(ViewBag.Categories, "Id", "Name");
}
<h1>Create Product</h1>
<hr />
<partial name="_CreateAndEditPartialView" model="Model" />

<div>
    <a asp-action="Index" asp-controller="Product">Go To All Product</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
