@model Product
@{
    ViewData["Title"] = "Edit";
    ViewBag.link = "Edit";
}

<h1>Edit</h1>
<partial name="_CreateAndEditPartialView" model="Model" />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

