@model IEnumerable<Product_Catalog.Models.Product>

@{
    ViewData["Title"] = "ShowProductsForUsers";
}

<h1>ShowProductsForUsers</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="card col-3 m-1 mt-5" style="width: 16rem;">
                <img src="/Images/@item.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
            </div>
        }
    </div>
</div>
