<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/images/Login.png" width="50" height="50" alt="Logo" class="img-fluid" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item ">
                            <a class="nav-link active" asp-action="Index" asp-controller="Product">Admin panel</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" asp-action="AddRole" asp-controller="Role">AddRole</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="ShowProductsForUsers" asp-controller="Product">Products</a>
                    </li>
                    
                }
               
             
               
          
            </ul>
  
                @if(!User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-light ms-3" asp-action="Login" asp-controller="Account">Login</a>
                    <a class="btn btn-light ms-3" asp-action="Registration" asp-controller="Account">Register</a>
                }
                else
                {
                    <li class="nav-item text-light d-flex">
                    <p>Welcome @User.Identity.Name</p>
                     <a class="btn btn-light ms-3" asp-action="LogOut" asp-controller="Account"> LogOut</a>
                    </li>

                }

            </div>
        </div>
    </div>
</nav>
